.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App main {
  background: linear-gradient(blueviolet, rgb(255, 50, 50));
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App footer {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.App .footer-link {
  color: blueviolet;
}
