.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App footer {
  background-color: darkblue;
  color: white;
  text-align: center;
}
