.DropDownMenu {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.DropDownMenu .menu-character {
  cursor: pointer;
  padding: 3px 20px 3px 5px;
  transition: 0.3s;
}

.DropDownMenu .menu-character:hover {
  background-color: blueviolet;
  padding: 3px 20px 3px 5px;
}

.DropDownMenu .menu-character:not(:last-child) {
  border-bottom: 2px solid white;
}
