.Game {
  display: flex;
  flex-direction: column;
}

.Game .header {
  height: 250px;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.Game .congratulations {
  width: 75%;
  font-size: 4rem;
  font-weight: bold;
  color: green;
  text-align: center;
}

.Game .game-frame {
  position: relative;
  display: flex;
  justify-content: center;
}

.Game .image-frame {
  position: relative;
  cursor: crosshair;
  width: 80%;
  align-self: center;
  margin: 40px 0px;
}

.Game .game-image {
  width: 100%;
  height: 100%;
}

.Game .home-link {
  font-size: 3rem;
  font-weight: bold;
}
