.Leaderboard {
  padding: 40px 200px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.Leaderboard .levels {
  display: flex;
  justify-content: space-between;
}

.Leaderboard .levels .level-holder {
  width: max(400px, 40%);
}

.Leaderboard .levels .LevelPicker {
  height: 300px;
}

.Leaderboard .levels .LevelPicker .characters {
  height: 100px;
}
