.LevelPicker {
  width: clamp(400px, 100%, 800px);
  height: 100%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.LevelPicker:hover {
  transform: scale(1.03);
}

.LevelPicker .level-name {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.LevelPicker .characters {
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 3px;
  gap: 15px;
}

.LevelPicker .character {
  width: 33%;
  display: flex;
}

.LevelPicker .character-image {
  flex: 1;
  width: 37%;
  background-color: white;
}

.LevelPicker .character-name {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 1vw);
  font-weight: bold;
  flex: 3;
}
